{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
<<<<<<< HEAD
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="image de la banniere">
=======
<<<<<<< HEAD
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="image de la banniere">
=======
<<<<<<< HEAD
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="image de la banniere">
=======
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
>>>>>>> 5eea30864a5f6b7d0248714e2dc5e256b554c2c0
>>>>>>> 8c9550a3327b002572efbb209dd39b70966b4c5e
>>>>>>> d1e13274c5a7529f65dea67420db63c13f7639e9
        </div>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('playlists') }}">Playlists</a>
                    </li>                    
                </ul>
            </div>
        </nav>        
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
<<<<<<< HEAD
            <p><small><strong>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </strong></small></p>
=======
<<<<<<< HEAD
            <p><small><strong>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </strong></small></p>
=======
<<<<<<< HEAD
            <p><small><strong>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </strong></small></p>
=======
            <p><small><i>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </i></small></p>
>>>>>>> 5eea30864a5f6b7d0248714e2dc5e256b554c2c0
>>>>>>> 8c9550a3327b002572efbb209dd39b70966b4c5e
>>>>>>> d1e13274c5a7529f65dea67420db63c13f7639e9
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}